*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: peachpuff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.Myntra_home{
    width: 36px;
    width: 53px;
}
.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: 3px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.nav_bar a sup{
    color: red;
    font-size: 10px;
}
.search_bar{
    height: 40px;
    min-width: 400px;
    display: flex;


}
.search_icon{

}
.search_input{
    color: burlywood;
    background-color: rosybrown;
    flex-grow: 1;
    height: 40px;
}